{% extends "_base.html" %}
{% block content %}

<form action="/select_logos/" id="img_form" method="post">
    {% for image in images %}
        <input type="checkbox" value="{{ image }}" id="{{ image }}" name="logos" >
        <label for="{{ image }}"><img src="{{ image }}" style="width: auto; max-width:1096px; height:auto; max-height: 450px;"></label><br>
    {% endfor %}
    <button type="submit">Submit</button>
    <button id="update_form">Obnovit</button>
</form>
<form action="/update_logos/" method="post" enctype="multipart/form-data">
  <label for="file">Select a file:</label>
  <input type="file" id="file" name="file">
  <button type="submit">Submit</button>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<script>
    $(document).ready(function(){
        $("update_form").click(function(){
          $("#img_form").load(" #img_form");
        });
      });
    window.onload = function() {
      // IDs of checkboxes to be checked
      var selectedCheckboxes = {{ selected_images|safe }}
  
      selectedCheckboxes.forEach(function(id) {
          var checkbox = document.getElementById(id);
          if (checkbox) {
              checkbox.checked = true;
          }
      });
    };
</script>
{% endblock %}